@import "../uniformStyles/uniform";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 2vmin;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: white;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b1b3b1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topnav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.2px solid gray;
    background-color: white;
    height: 15vmin;
    position: fixed;
    z-index: 10;
    top: 0;
}
.topnav a{
    width: 100%;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all ease-in 0.7s;
    padding: 3vmin;
    font-weight: bold;
}
.topnav a p{
    text-align: center;
}
.topnavImg{
    height: 15vmin;
}
.topnav a:hover{
    background-color: black;
    color: white;
}
.firstElementContainer{
    background: url("../../public/wetransfer_weboldalon-levo-kep-jpg_2021-12-21_1251/weboldalon\ lévő\ kép.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 15vmin 5vmin;
    margin-top: 15vmin;
}
.firstElementContainer h1{
    color: white;
    text-align: center;
    font-weight: bold;
    width: 120vmin;
    margin-left: 10vmin;
    font-size: 12vh;
    margin-top: 8vmin;
}
.firstElementButtonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vmin;
}
.firstElementButtonContainer button{
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 3vmin 5vmin;
    text-transform: uppercase;
    font-size: 3.5vh;
    transition: all ease-in .4s;
    color: white;
    border: 1.3px solid green;
    background-color: green;    
}
.firstElementButtonContainer button:hover{
    cursor: pointer;
    color: white;
    background-color: darkgreen;
    transform: scale(1.1);
}
.secondElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12vmin 4vmin;
}
.secondElementContainer img{
    width: 80vmin;
    border-radius: 10px;
}
.secondElementContainer h1{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 5vh;
    margin-bottom: 8vmin;
}
.secondElementContainer p{
    width: 70vmin;
    text-align: left;
    font-weight: 600;
}
.secondElementDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutMe{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 2vmin 3.5vmin;
    border-radius: 10px;
    margin-top: 10vmin;
    transition: all ease-in-out .6s;
    text-transform: uppercase;
}
.aboutMe:hover{
    background-color: darkgreen;
    transform: scale(1.1);
}
.thirdElementContainer{
    background-color: #ebebeb;
    padding: 15vmin 10vmin;
    width: 100%;
    overflow: hidden;
}
.thirdElement{
    width: 1430vmin;
    height: 60vmin;
    margin: 0 0 0 -1050vmin;
    position: relative;
    animation-name: slideAnimation;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.review{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 60vmin;
    height: 60vmin;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: all 0.7s;
    padding-top: 30vmin;
    position: relative;
    float: left;
    margin-right: 10vmin;
}
@keyframes slideAnimation {
    0%{left: 0vmin;}
    3%{left: 70vmin;}
    6%{left: 70vmin;}
    9%{left: 140vmin;}
    12%{left: 140vmin;}
    15%{left: 210vmin;}
    18%{left: 210vmin;}
    21%{left: 280vmin;}
    24%{left: 280vmin;}
    27%{left: 350vmin;}
    30%{left: 350vmin;}
    33%{left: 420vmin;}
    36%{left: 420vmin;}
    39%{left: 490vmin;}
    42%{left: 490vmin;}
    45%{left: 560vmin;}
    48%{left: 560vmin;}
    51%{left: 630vmin;}
    54%{left: 630vmin;}
    57%{left: 700vmin;}
    60%{left: 700vmin;}
    63%{left: 770vmin;}
    66%{left: 770vmin;}
    69%{left: 840vmin;}
    72%{left: 840vmin;}
    75%{left: 910vmin;}
    78%{left: 910vmin;}
    81%{left: 980vmin;}
    84%{left: 980vmin;}
    87%{left: 1050vmin;}
    90%{left: 1050vmin;}
    100%{left: 0vmin;}
}
.description{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 3vmin 5vmin 3vmin 3vmin;
    height: 15vmin;
    text-align: left;
}
.dataContainer{
    background-color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
    border-top: 1px solid #ebebeb;
}

.imageOf{
    width: 40vmin;
    height: 40vmin;
    
    border-radius: 10px 10px 0 0
}
.description *{
    margin: 3vmin 0;
}
.name{
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    background-color: white;
    width: 100%;
    padding: 3vmin 3vmin 0 3vmin;
}
.opinion{
    width: 40vmin;
    opacity: 0.7;
    text-align: left;
}
.displayedOpinion{
    display: flex;
}
.thirdElementTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebebeb;
    width: 100%;
    padding-top: 7vmin;
    padding: 15vmin 0;
}
.thirdElementTitle h1{
    font-size: 5vh;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}
.thirdElementTitle h3{
    opacity: .4;
}
.fourthElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../../public/5.\ elem\ háttérképe.jpg");
    @include bgPic();
    width: 100%;
    padding: 20vmin 0vmin 10vmin  0vmin;
}
.fourthElementTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
}
.fourthElementTitle h1{
    font-size: 6vh;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}
.purchaseOptions{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 20vmin;
}
.purchaseOption{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40vmin;
    height: 60vmin;
    padding: 5vmin 3vmin;
    border: 1.5px solid white;
    border-radius: 10px;
    background-color: white;
}
.purchaseTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3.5vh;
    width: 100%;
    height: 10vmin;
    margin-bottom: 6vmin;
    font-weight: bold;
}
.purchaseTitle p{
    text-align: center;
}
.purchaseDesc{
    color: black;
    padding: 4vmin 0;
    text-align: center;
}
.morePurchase{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vmin 2.5vmin;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 5vmin;
    transition: all ease-in-out .6s
}
.morePurchase:hover{
    background-color: white;
    color: green;
}
.connection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: url("../../public/weboldalra\ kép.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vmin 0;
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: 0;
    flex-direction: column;
}
.socialMedias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.socialMedia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20vmin 20vmin;
}
.socialMedia .socialMediaDesc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vmin;
    margin-top: 5vmin;
}
.socialMedia .socialMediaDesc p{
    color: white;
    font-weight: 500;
    font-size: 3vh;
    text-align: center;
}
.socialMedia a{
    width: 20vmin;
    height: 20vmin;
    padding: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    border-radius: 100%
}
.socialMedia i{
    font-size: 10vh;
    color: #595959;
}
.socialMedia img{
    width: 10vmin;
}
.socialMediaTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin 0 15vmin 0; 
}
.socialMediaTitle h1{
    color: white;
    font-size: 10vh;
    font-weight: bolder;
    text-transform: uppercase;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: black;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 10vmin 0 10vmin 10vmin;
}
.contacts{
}
.infoTitle, .contactTitle{
    margin-bottom: 4vmin;
}
.information{
    margin-bottom: 1vmin;
}
.myLogo{
    width: 30vmin;
}
#myContact p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#myContact p img{
    margin-left: 5vmin;
}
@media screen and (max-width: 420px){
    .mainContainer{
        overflow: hidden;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }
    .topnav{
        flex-direction: column;
        height: 120vmin;
        position: absolute;
    }
    .secondElementContainer{
        flex-direction: column;
        padding: 25vmin 5vmin;
        .secondElementDescription{
            margin-top: 15vmin;
            p{
                text-align: center;
                width: 100%;
            }
        }
    }
    .firstElementContainer{
        margin-top: 120vmin;
        background-size: cover;
        background-position: 80% 30%;
        width: 100%;
        h1{
            font-size: 4vh;
            margin: 0;
            width: 55vmin;
        }
    }
    .fourthElementContainer{
        background-position: 60% 70%;

        .fourthElementTitle{
            padding: 5vmin;
            h4{
                margin-top: 10vmin;
            }
        }
        .purchaseOptions{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .purchaseOption{
                margin: 5vmin 3vmin;
                width: 60vmin;
                height: 85vmin;
            }
        }
    }
    .thirdElementTitle{
        width: 100%;
        padding-left: 3vmin;
        h1{
            font-size: 4vh;
            text-align: left;
            width: 90%;
            text-align: center;
        }
        h3{
            font-size: 3vh;
            margin-top: 20vmin;
        }
    }
    .thirdElementContainer{
        width: 100%;
        .thirdElement{
            margin: 0 0 0 -1605vmin;
            width: 1700vmin;
            .review{
                width: 90vmin;
                height: 90vmin;
                .dataContainer{
                    padding: 3vmin;
                    .name{
                        margin-bottom: 3vmin;
                    }
                    .description{
                        font-size: 2.5vh;
                    }
                }
            }
        }
        @keyframes slideAnimation {
            0%{left: 0vmin;}
            3%{left: 100vmin;}
            6%{left: 100vmin;}
            9%{left: 200vmin;}
            12%{left: 200vmin;}
            15%{left: 300vmin;}
            18%{left: 300vmin;}
            21%{left: 400vmin;}
            24%{left: 400vmin;}
            27%{left: 500vmin;}
            30%{left: 500vmin;}
            33%{left: 600vmin;}
            36%{left: 600vmin;}
            39%{left: 700vmin;}
            42%{left: 700vmin;}
            45%{left: 800vmin;}
            48%{left: 800vmin;}
            51%{left: 900vmin;}
            54%{left: 900vmin;}
            57%{left: 1000vmin;}
            60%{left: 1000vmin;}
            63%{left: 1100vmin;}
            66%{left: 1100vmin;}
            69%{left: 1200vmin;}
            72%{left: 1200vmin;}
            75%{left: 1300vmin;}
            78%{left: 1300vmin;}
            81%{left: 1400vmin;}
            84%{left: 1400vmin;}
            87%{left: 1500vmin;}
            90%{left: 1500vmin;}
            100%{left: 0vmin;}
        }
    }
    .connection{
        background-position: 30% 0%;
        .socialMediaTitle{
            padding: 4vmin;
            h1{
                font-size: 6vh;
                text-align: center;
            }
        }
        .socialMedias{
            .socialMedia{
                a{
                    i{
                        font-size: 6vh;
                    }
                }
                .socialMediaDesc{
                    width: 60vmin;
                }
            }
        }
    }
    footer{
        flex-direction: column;
        padding: 15vmin 0vmin 30vmin 0;
        @include centerDiv(column);
        div{
            width: 80%;
        }
        .informations{
            .information{
                p{
                    font-size: 3vh;
                }
            }
        }
        .contacts{
            margin-top: 20vmin;
            .contact{
                p{
                    font-size: 3vh;
                }
            }
            p{
                @include centerDiv(column);
                .myLogo{
                    margin-top: 10vmin;
                    width: 50vmin;
                }
            }
        }
    }
}
@media  (min-width: 421px) and (max-width: 750px) {
    .mainContainer{
        overflow: hidden;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }
    .topnav{
        flex-direction: column;
        height: 120vmin;
        position: absolute;
        flex-wrap: nowrap;
    }
    .firstElementContainer{
        margin-top: 120vmin;
        h1{
            font-size: 6vh;
            margin: 0;
            width: 80vmin;
        }
    }
    .secondElementContainer{
        flex-direction: column;
        .secondElementDescription{
            margin-top: 20vmin;
        }
    }
    .thirdElementContainer{
        .thirdElement{
            margin: 0 0 0 -1060vmin;
            .review{
                .dataContainer{
                    .description{
                        font-size: 2.5vh;
                    }
                }
            }
        }
    }
    .thirdElementTitle{
        padding: 15vmin 5vmin;
        h1{
            font-size: 7vh;
            text-align: center;
        }
        h3{
            margin-top: 15vmin;
        }
    }
    .fourthElementContainer{
        .fourthElementTitle{
            padding: 5vmin;
            h4{
                width: 90%;
                text-align: center;
                margin-top: 10vmin;
            }
        }
        .purchaseOptions{
            @include centerDiv(column);
            .purchaseOption{
                height: 70vmin;
                width: 60vmin;
                margin-top: 10vmin;
                a{
                    margin-top: 10vmin;
                }
                .purchaseTitle{
                    p{
                        font-size: 4vh;
                    }
                }
            }
        }
    }
    .connection{
        background-position: 30% 30%;
        flex-wrap: wrap;
        .socialMedias{
            .socialMedia{
                .socialMediaDesc{
                    width: 60vmin;
                }
            }
        }
        margin-bottom: 0;
    }
    footer{
        @include centerDiv(column);
        .contacts{
            margin-top: 10vmin;
        }
        padding: 15vmin 5vmin;
        margin-top: 0;
    }
}
@media screen and (min-width: 751px) and (max-width: 950px){
    .topnav{
        flex-direction: column;
        height: 120vmin;
        position: absolute;
    }
    .firstElementContainer{
        margin-top: 120vmin;
        background-position: 70% 50%;
        h1{
            font-size: 6vh;
            margin: 0;
            width: 100vmin;
        }
    }
    .fourthElementContainer{
        .fourthElementTitle{
            padding: 5vmin;
            h1{
                font-size: 7vh;
            }
            h4{
                width: 120vmin;
                text-align: center;
                margin-top: 10vmin;
            }
        }
        .purchaseOptions{
            flex-wrap: wrap;
            .purchaseOption{
                height: 75vmin;
                a{
                    margin-top: 5vmin;
                }
                .purchaseDesc{
                    height: 40vmin;
                    text-align: center;
                }
            }
        }
    }
    .thirdElementTitle{
        padding: 10vmin;
        h1, h3{
            text-align: center;
            font-size: 6vh;
        }
        h3{
            font-size: 3vh;
            margin-top: 10vmin;
        }
    }
    .thirdElementContainer{
        .thirdElement{
            .review{
                .dataContainer{
                    .description{
                        font-size: 2.5vh;
                    }
                }
            }
        }
    }
}