@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.topnavImg {
  height: 15vmin;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: black;
  width: 100%;
  color: white;
  text-transform: uppercase;
  padding: 10vmin 0 10vmin 10vmin;
}

.infoTitle, .contactTitle {
  margin-bottom: 4vmin;
}

.information {
  margin-bottom: 1vmin;
}

.myLogo {
  width: 30vmin;
}

#myContact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myContact p img {
  margin-left: 5vmin;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 2vmin;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b3b1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#transparentTopnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.2px solid gray;
  background-color: white;
  height: 15vmin;
  position: fixed;
  z-index: 10;
  top: 0;
  color: black;
  background-color: transparent !important;
  border: none;
  color: white;
  position: absolute;
}

#transparentTopnav a {
  width: 100%;
  height: 15vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  -webkit-transition: all ease-in 0.7s;
  transition: all ease-in 0.7s;
  padding: 3vmin;
  font-weight: bold;
}

#transparentTopnav a p {
  text-align: center;
}

#transparentTopnav a:hover {
  background-color: black;
  color: white;
}

#transparentTopnav a {
  color: white;
}

#transparentTopnav a:hover {
  border: 1px solid white;
  background-color: transparent !important;
  color: white !important;
}

.firstElementContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../../public/1�vip klubb háttere fogadó rész.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 15vmin;
}

.firstElementContainer .firstText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstElementContainer .firstText .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 40vmin 0 10vmin 0;
}

.firstElementContainer .firstText .title h1 {
  text-align: center;
  color: white;
  width: 150vmin;
  font-size: 10vh;
}

.firstElementContainer .firstText .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.firstElementContainer .firstText .desc img {
  width: 60vmin;
  margin-left: 20vmin;
}

.firstElementContainer .firstText .buttonContainer {
  width: 100%;
  padding: 10vmin 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.firstElementContainer .firstText .buttonContainer a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3vmin 5vmin;
  background-color: green;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 10px;
  color: white;
}

.firstElementContainer .firstText .buttonContainer a:hover {
  background-color: darkgreen;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.secondElementContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondElementContainer .listOfAdvs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secondElementContainer .listOfAdvs .adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40vmin;
  padding: 3vmin 5vmin;
  background-color: #4ca162;
  height: 40vmin;
  margin: 5vmin 8vmin;
  border-radius: 10px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.secondElementContainer .listOfAdvs .adv p {
  text-align: center;
  font-size: 3.5vh;
  font-weight: 500;
  color: white;
}

.secondElementContainer .listOfAdvs .adv:hover {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: linear;
          animation-fill-mode: linear;
  cursor: default;
}

.secondElementContainer .listOfAdvs .adv[title] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15vmin 0 10vmin 10vmin;
  font-size: 8vh;
  font-weight: bold;
  background-color: transparent;
  -webkit-animation-name: none;
          animation-name: none;
}

.secondElementContainer .listOfAdvs .adv[title]:hover {
  cursor: default;
}

.secondElementContainer .listOfAdvs .adv[title] p {
  font-size: 8vh;
  font-weight: bold;
  color: black;
}

.secondElementContainer .listOfDis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secondElementContainer .listOfDis .dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40vmin;
  padding: 3vmin 5vmin;
  background-color: #b84949;
  height: 40vmin;
  margin: 5vmin 3vmin;
  border-radius: 10px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.secondElementContainer .listOfDis .dis p {
  text-align: center;
  font-size: 3.5vh;
  font-weight: 500;
  color: white;
}

.secondElementContainer .listOfDis .dis:hover {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: linear;
          animation-fill-mode: linear;
  cursor: default;
}

.secondElementContainer .listOfDis .dis[title] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15vmin 0 10vmin 10vmin;
  font-size: 8vh;
  font-weight: bold;
  background-color: transparent;
  -webkit-animation-name: none;
          animation-name: none;
}

.secondElementContainer .listOfDis .dis[title]:hover {
  cursor: default;
}

.secondElementContainer .listOfDis .dis[title] p {
  font-size: 8vh;
  font-weight: bold;
  color: black;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.thirdElementContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20vmin;
  background-color: #ebebeb;
  padding: 15vmin 0;
}

.thirdElementContainer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 15vmin;
}

.thirdElementContainer .title h1 {
  font-size: 6vh;
  width: 150vmin;
  text-align: center;
  text-transform: uppercase;
}

.thirdElementContainer .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  border: 1px solid black;
  padding: 40vmin 0;
}

.fourthElementContainer {
  background-color: #ebebeb;
  padding: 15vmin 10vmin;
  width: 100%;
  overflow: hidden;
}

.fourthElement {
  width: 1430vmin;
  height: 60vmin;
  margin: 0 0 0 -1050vmin;
  position: relative;
  -webkit-animation-name: slideAnimation;
          animation-name: slideAnimation;
  -webkit-animation-duration: 70s;
          animation-duration: 70s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vmin;
  height: 60vmin;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  padding-top: 30vmin;
  position: relative;
  float: left;
  margin-right: 10vmin;
}

@-webkit-keyframes slideAnimation {
  0% {
    left: 0vmin;
  }
  3% {
    left: 70vmin;
  }
  6% {
    left: 70vmin;
  }
  9% {
    left: 140vmin;
  }
  12% {
    left: 140vmin;
  }
  15% {
    left: 210vmin;
  }
  18% {
    left: 210vmin;
  }
  21% {
    left: 280vmin;
  }
  24% {
    left: 280vmin;
  }
  27% {
    left: 350vmin;
  }
  30% {
    left: 350vmin;
  }
  33% {
    left: 420vmin;
  }
  36% {
    left: 420vmin;
  }
  39% {
    left: 490vmin;
  }
  42% {
    left: 490vmin;
  }
  45% {
    left: 560vmin;
  }
  48% {
    left: 560vmin;
  }
  51% {
    left: 630vmin;
  }
  54% {
    left: 630vmin;
  }
  57% {
    left: 700vmin;
  }
  60% {
    left: 700vmin;
  }
  63% {
    left: 770vmin;
  }
  66% {
    left: 770vmin;
  }
  69% {
    left: 840vmin;
  }
  72% {
    left: 840vmin;
  }
  75% {
    left: 910vmin;
  }
  78% {
    left: 910vmin;
  }
  81% {
    left: 980vmin;
  }
  84% {
    left: 980vmin;
  }
  87% {
    left: 1050vmin;
  }
  90% {
    left: 1050vmin;
  }
  100% {
    left: 0vmin;
  }
}

@keyframes slideAnimation {
  0% {
    left: 0vmin;
  }
  3% {
    left: 70vmin;
  }
  6% {
    left: 70vmin;
  }
  9% {
    left: 140vmin;
  }
  12% {
    left: 140vmin;
  }
  15% {
    left: 210vmin;
  }
  18% {
    left: 210vmin;
  }
  21% {
    left: 280vmin;
  }
  24% {
    left: 280vmin;
  }
  27% {
    left: 350vmin;
  }
  30% {
    left: 350vmin;
  }
  33% {
    left: 420vmin;
  }
  36% {
    left: 420vmin;
  }
  39% {
    left: 490vmin;
  }
  42% {
    left: 490vmin;
  }
  45% {
    left: 560vmin;
  }
  48% {
    left: 560vmin;
  }
  51% {
    left: 630vmin;
  }
  54% {
    left: 630vmin;
  }
  57% {
    left: 700vmin;
  }
  60% {
    left: 700vmin;
  }
  63% {
    left: 770vmin;
  }
  66% {
    left: 770vmin;
  }
  69% {
    left: 840vmin;
  }
  72% {
    left: 840vmin;
  }
  75% {
    left: 910vmin;
  }
  78% {
    left: 910vmin;
  }
  81% {
    left: 980vmin;
  }
  84% {
    left: 980vmin;
  }
  87% {
    left: 1050vmin;
  }
  90% {
    left: 1050vmin;
  }
  100% {
    left: 0vmin;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 3vmin 5vmin 3vmin 3vmin;
  height: 15vmin;
  text-align: left;
}

.dataContainer {
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
  border-top: 1px solid #ebebeb;
}

.imageOf {
  width: 40vmin;
  height: 40vmin;
  border-radius: 10px 10px 0 0;
}

.description * {
  margin: 3vmin 0;
}

.name {
  font-size: 4vh;
  font-weight: bold;
  text-align: left;
  background-color: white;
  width: 100%;
  padding: 3vmin 3vmin 0 3vmin;
}

.opinion {
  width: 40vmin;
  opacity: 0.7;
  text-align: left;
}

.displayedOpinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thirdElementTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
  width: 100%;
  padding-top: 7vmin;
  padding: 15vmin 0;
}

.thirdElementTitle h1 {
  font-size: 5vh;
  margin-bottom: 5vmin;
  text-transform: uppercase;
}

.thirdElementTitle h3 {
  opacity: .4;
}

.fifthElementContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15vmin;
  padding: 15vmin 0;
  background-color: #ebebeb;
  width: 100%;
}

.fifthElementContainer .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fifthElementContainer .imgContainer img {
  width: 60vmin;
}

.fifthElementContainer .quoteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fifthElementContainer .quoteContainer .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fifthElementContainer .quoteContainer .quote h3 {
  font-size: 5vh;
  font-weight: bold;
  font-style: italic;
  margin: 1vmin 0;
}

.fifthElementContainer .quoteContainer p {
  text-align: center;
  font-size: 2.5vh;
  font-style: italic;
  margin-top: 5vmin;
}

.sixthElementContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20vmin;
}

.sixthElementContainer .joinOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.sixthElementContainer .joinOptions .joinOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vmin;
  height: 50vmin;
  border-radius: 10px;
  padding: 4vmin 3vmin;
  margin: 5vmin 10vmin;
  background-color: #4ca162;
  color: white;
}

.sixthElementContainer .joinOptions .joinOption .jointTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sixthElementContainer .joinOptions .joinOption .jointTitle p {
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.sixthElementContainer .joinOptions .joinOption .joinType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sixthElementContainer .joinOptions .joinOption .joinType p {
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  margin: 3vmin 0 15vmin 0;
}

.sixthElementContainer .joinOptions .joinOption .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sixthElementContainer .joinOptions .joinOption .choice a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.5vh;
  color: white;
  border-radius: 5px;
  text-decoration: underline;
}

.sixthElementContainer .join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10vmin 5vmin;
  background-color: #ebebeb;
  width: 90%;
  border-radius: 0 0 10px 10px;
}

.sixthElementContainer .join iframe {
  width: 100vmin;
  height: 200vmin;
  padding: 5vmin;
  border: 1px solid #ebebeb;
  margin-top: 30vmin;
}

.sixthElementContainer .join .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120vmin;
  margin-top: 20vmin;
  background-color: #ebebeb;
}

.sixthElementContainer .join .description p[bold] {
  font-weight: bold;
  margin: 10vmin 0;
}

.sixthElementContainer .join .description p {
  font-size: 3vh;
}

.sixthElementContainer .joinIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin-top: 20vmin;
  background-color: #9b6ade;
  padding: 10vmin 0;
  border-radius: 10px 10px 0 0;
}

.sixthElementContainer .joinIntro h1 {
  font-size: 6vh;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
}

footer {
  margin-top: 20vmin;
}
/*# sourceMappingURL=vipclub.css.map */