@import "./../uniformStyles/uniform";

#transparentTopnav{
    @include topnav();
    background-color: transparent !important;
    border: none;
    color: $topnavBg;
    position: absolute;
    a{
        color: white;
        &:hover{
            border: 1px solid white;
            
        }
    }
}
.firstElementContainer{
    @include centerDiv(column);
    background: url("../../public/1�vip\ klubb\ háttere\ fogadó\ rész.jpg");
    @include bgPic();
    width: 100%;
    padding-bottom: 15vmin;
    .firstText{
        @include centerDiv(column);
        .title{
            @include centerDiv(row);
            width: 100%;
            margin: 40vmin 0 10vmin 0;
            h1{
                text-align: center;
                color: white;
                width: 150vmin;
                font-size: 10vh;
            }
        }
        .desc{
            @include centerDiv(row);
            width: 100%;
            img{
                width: 60vmin;
                margin-left: 20vmin;
            }
        }
        .buttonContainer{
            width: 100%;
            padding: 10vmin 0;
            @include centerDiv(row);
            a{
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                padding: 3vmin 5vmin;
                background-color: $buttonColor;
                transition: all 0.6s;
                border-radius: 10px;
                color: white;
                &:hover{
                    background-color: $buttonHoverColor;
                    transform: scale(1.1);
                }
            }
        }
    }
}
.secondElementContainer{
    width: 100%;
    @include centerDiv(column);
    .listOfAdvs{
        @include centerDiv(row);
        width: 100%;
        flex-wrap: wrap;
        .adv{
            @include centerDiv(row);
            width: 40vmin;
            padding: 3vmin 5vmin;
            background-color: #4ca162;
            height: 40vmin;
            margin: 5vmin 8vmin;
            border-radius: 10px;
            transition: all 0.6s;
            p{
                text-align: center;
                font-size: 3.5vh;
                font-weight: 500;
                color: white;
            }
            &:hover{
                animation-name: shake;
                animation-timing-function: ease-in-out;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                animation-fill-mode: linear;
                cursor: default;
            }
        }
        .adv[title]{
            width: 100%;
            @include centerDiv(row);
            justify-content: flex-start;
            padding: 15vmin 0 10vmin 10vmin;
            font-size: 8vh;
            font-weight: bold;
            background-color: transparent;
            animation-name: none;
            &:hover{
                cursor: default
            }
            p{
                font-size: 8vh;
                font-weight: bold;
                color: black;
            }
        }
    }
    .listOfDis{
        @include centerDiv(row);
        width: 100%;
        flex-wrap: wrap;
        .dis{
            @include centerDiv(row);
            width: 40vmin;
            padding: 3vmin 5vmin;
            background-color: #b84949;
            height: 40vmin;
            margin: 5vmin 3vmin;
            border-radius: 10px;
            transition: all 0.6s;
            p{
                text-align: center;
                font-size: 3.5vh;
                font-weight: 500;
                color: white;
            }
            &:hover{
                animation-name: shake;
                animation-timing-function: ease-in-out;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                animation-fill-mode: linear;
                cursor: default;
            }
        }
        .dis[title]{
            width: 100%;
            @include centerDiv(row);
            justify-content: flex-start;
            padding: 15vmin 0 10vmin 10vmin;
            font-size: 8vh;
            font-weight: bold;
            background-color: transparent;
            animation-name: none;
            &:hover{
                cursor: default
            }
            p{
                font-size: 8vh;
                font-weight: bold;
                color: black;
            }
        }
    }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.thirdElementContainer{
    @include centerDiv(column);
    width: 100%;
    margin-top: 20vmin;
    background-color: #ebebeb;
    padding: 15vmin 0;
    .title{
        @include centerDiv(row);
        width: 100%;
        margin-bottom: 15vmin;
        h1{
            font-size: 6vh;
            width: 150vmin;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .video{
        @include centerDiv(row);
        width: 90%;
        border: 1px solid black;
        padding: 40vmin 0;
    }
}
.fourthElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15vmin 0;
}
.fourthElement{
    display: flex;
    justify-content: space-evenly;
    align-items:  flex-start;
    width: 100%;
}
.review{
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 40vmin;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: all 0.7s;
    padding-top: 30vmin;
    border: 2px solid #ebebeb;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 3vmin;
    height: 15vmin;
    text-align: left;
}
.dataContainer{
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.review:hover{
    transform: scale(1.2);
}
.imageOf{
    width: 40vmin;
    height: 40vmin;
    
    border-radius: 10px 10px 0 0
}
.description *{
    margin: 3vmin 0;
}
.name{
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    background-color: white;
    width: 100%;
    padding: 3vmin 3vmin 0 3vmin;
}
.opinion{
    width: 20vmin;
    opacity: 0.7;
    text-align: left;
}
.displayedOpinion{
    display: flex;
}
.thirdElementTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 7vmin;
    padding: 15vmin 0;
}
.thirdElementTitle h1{
    font-size: 5vh;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}
.thirdElementTitle h3{
    opacity: .4;
}
.fifthElementContainer{
    @include centerDiv(row);
    margin-top: 15vmin;
    padding: 15vmin 0;
    background-color: #ebebeb;
    width: 100%;
    .imgContainer{
        @include centerDiv(row);
        img{
            width: 60vmin;
        }
    }
    .quoteContainer{
        @include centerDiv(column);
        .quote{
            @include centerDiv(column);
            h3{
                font-size: 5vh;
                font-weight: bold;
                font-style: italic;
                margin: 1vmin 0;
            }
        }
        p{
            text-align: center;
            font-size: 2.5vh;
            font-style: italic;
            margin-top: 5vmin;
        }
    }
}
.sixthElementContainer{
    @include centerDiv(column);
    width: 100%;
    margin-top: 20vmin;
    .joinOptions{
        @include centerDiv(row);
        flex-wrap: wrap;
        width: 100%;
        .joinOption{
            @include centerDiv(column);
            width: 50vmin;
            height: 50vmin;
            border-radius: 10px;
            padding: 4vmin 3vmin;
            margin: 5vmin 10vmin;
            background-color: #4ca162;
            color: white;
            .jointTitle{
                @include centerDiv(row);
                p{
                    font-size: 5vh;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .joinType{
                @include centerDiv(row);
                p{
                    font-size: 3vh;
                    font-weight: 600;
                    text-align: center;
                    margin: 3vmin 0 15vmin 0;
                }
            }
            .choice{
                @include centerDiv(row);
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 3.5vh;
                    color: white;
                    border-radius: 5px;
                    text-decoration: underline;
                }
            }
        }
    }
    .join{
        @include centerDiv(row);
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 10vmin 5vmin;
        background-color: #ebebeb;
        width: 90%;
        border-radius: 0 0 10px 10px;
        iframe{
            width: 100vmin;
            height: 200vmin;
            padding: 5vmin;
            border: 1px solid #ebebeb;
            margin-top: 30vmin;
        }
        .description{
            @include centerDiv(column);
            width: 120vmin;
            margin-top: 20vmin;
            background-color: #ebebeb;
            p[bold]{
                font-weight: bold;
                margin: 10vmin 0;
            }
            p{
                font-size: 3vh;
            }
        }
    }
    .joinIntro{
        @include centerDiv(row);
        width: 90%;
        margin-top: 20vmin;
        background-color: #9b6ade;
        padding: 10vmin 0;
        border-radius: 10px 10px 0 0;
        h1{
            font-size: 6vh;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            color: white;
        }
    }
}





footer{
    margin-top: 20vmin;
}
