@import "./../uniformStyles/uniform";

#transparentTopnav{
    @include topnav();
    background-color: transparent;
    border: none;
    color: $topnavBg;
    position: absolute;
    a{
        color: white;
        &:hover{
            border: 1px solid white;
            background-color: transparent !important;
            color: white !important;
        }
    }
}
.firstElementContainer{
    @include centerDiv(column);
    background: url("../../public/vipclubFirstBg.jpg");
    @include bgPic();
    width: 100%;
    padding-bottom: 15vmin;
    .firstText{
        @include centerDiv(column);
        .title{
            @include centerDiv(row);
            width: 100%;
            margin: 40vmin 0 10vmin 0;
            h1{
                text-align: center;
                color: white;
                width: 150vmin;
                font-size: 10vh;
            }
        }
        .desc{
            @include centerDiv(row);
            width: 100%;
            img{
                width: 60vmin;
                margin-left: 20vmin;
            }
        }
        .buttonContainer{
            width: 100%;
            padding: 10vmin 0;
            @include centerDiv(row);
            a{
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                padding: 3vmin 5vmin;
                background-color: $buttonColor;
                transition: all 0.6s;
                border-radius: 10px;
                color: white;
                &:hover{
                    background-color: $buttonHoverColor;
                    transform: scale(1.1);
                }
            }
        }
    }
}
.secondElementContainer{
    width: 100%;
    @include centerDiv(column);
    .listOfAdvs{
        @include centerDiv(row);
        width: 100%;
        flex-wrap: wrap;
        .adv{
            @include centerDiv(row);
            width: 40vmin;
            padding: 3vmin 5vmin;
            background-color: #4ca162;
            height: 40vmin;
            margin: 5vmin 8vmin;
            border-radius: 10px;
            transition: all 0.6s;
            p{
                text-align: center;
                font-size: 3.5vh;
                font-weight: 500;
                color: white;
            }
            &:hover{
                animation-name: shake;
                animation-timing-function: ease-in-out;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                animation-fill-mode: linear;
                cursor: default;
            }
        }
        .adv[title]{
            width: 100%;
            @include centerDiv(row);
            justify-content: flex-start;
            padding: 15vmin 0 10vmin 10vmin;
            font-size: 8vh;
            font-weight: bold;
            background-color: transparent;
            animation-name: none;
            &:hover{
                cursor: default
            }
            p{
                font-size: 8vh;
                font-weight: bold;
                color: black;
            }
        }
    }
    .listOfDis{
        @include centerDiv(row);
        width: 100%;
        flex-wrap: wrap;
        .dis{
            @include centerDiv(row);
            width: 40vmin;
            padding: 3vmin 5vmin;
            background-color: #b84949;
            height: 40vmin;
            margin: 5vmin 3vmin;
            border-radius: 10px;
            transition: all 0.6s;
            p{
                text-align: center;
                font-size: 3.5vh;
                font-weight: 500;
                color: white;
            }
            &:hover{
                animation-name: shake;
                animation-timing-function: ease-in-out;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                animation-fill-mode: linear;
                cursor: default;
            }
        }
        .dis[title]{
            width: 100%;
            @include centerDiv(row);
            justify-content: flex-start;
            padding: 15vmin 0 10vmin 10vmin;
            font-size: 8vh;
            font-weight: bold;
            background-color: transparent;
            animation-name: none;
            &:hover{
                cursor: default
            }
            p{
                font-size: 8vh;
                font-weight: bold;
                color: black;
            }
        }
    }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.thirdElementContainer{
    @include centerDiv(column);
    width: 100%;
    margin-top: 20vmin;
    background-color: #ebebeb;
    padding: 15vmin 0;
    .title{
        @include centerDiv(row);
        width: 100%;
        margin-bottom: 15vmin;
        h1{
            font-size: 6vh;
            width: 150vmin;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .video{
        @include centerDiv(row);
        width: 90%;
        border: 1px solid black;
        padding: 40vmin 0;
    }
}
.fourthElementContainer{
    background-color: #ebebeb;
    padding: 15vmin 10vmin;
    width: 100%;
    overflow: hidden;
}
.fourthElement{
    width: 1430vmin;
    height: 60vmin;
    margin: 0 0 0 -1050vmin;
    position: relative;
    animation-name: slideAnimation;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.review{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 60vmin;
    height: 60vmin;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: all 0.7s;
    padding-top: 30vmin;
    position: relative;
    float: left;
    margin-right: 10vmin;
}
@keyframes slideAnimation {
    0%{left: 0vmin;}
    3%{left: 70vmin;}
    6%{left: 70vmin;}
    9%{left: 140vmin;}
    12%{left: 140vmin;}
    15%{left: 210vmin;}
    18%{left: 210vmin;}
    21%{left: 280vmin;}
    24%{left: 280vmin;}
    27%{left: 350vmin;}
    30%{left: 350vmin;}
    33%{left: 420vmin;}
    36%{left: 420vmin;}
    39%{left: 490vmin;}
    42%{left: 490vmin;}
    45%{left: 560vmin;}
    48%{left: 560vmin;}
    51%{left: 630vmin;}
    54%{left: 630vmin;}
    57%{left: 700vmin;}
    60%{left: 700vmin;}
    63%{left: 770vmin;}
    66%{left: 770vmin;}
    69%{left: 840vmin;}
    72%{left: 840vmin;}
    75%{left: 910vmin;}
    78%{left: 910vmin;}
    81%{left: 980vmin;}
    84%{left: 980vmin;}
    87%{left: 1050vmin;}
    90%{left: 1050vmin;}
    100%{left: 0vmin;}
}
.description{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 3vmin 5vmin 3vmin 3vmin;
    height: 15vmin;
    text-align: left;
}
.dataContainer{
    background-color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
    border-top: 1px solid #ebebeb;
}

.imageOf{
    width: 40vmin;
    height: 40vmin;
    
    border-radius: 10px 10px 0 0
}
.description *{
    margin: 3vmin 0;
}
.name{
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    background-color: white;
    width: 100%;
    padding: 3vmin 3vmin 0 3vmin;
}
.opinion{
    width: 40vmin;
    opacity: 0.7;
    text-align: left;
}
.displayedOpinion{
    display: flex;
}
.thirdElementTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebebeb;
    width: 100%;
    padding-top: 7vmin;
    padding: 15vmin 0;
}
.thirdElementTitle h1{
    font-size: 5vh;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}
.thirdElementTitle h3{
    opacity: .4;
}
.fifthElementContainer{
    @include centerDiv(row);
    margin-top: 15vmin;
    padding: 15vmin 0;
    background-color: #ebebeb;
    width: 100%;
    .imgContainer{
        @include centerDiv(row);
        img{
            width: 60vmin;
        }
    }
    .quoteContainer{
        @include centerDiv(column);
        .quote{
            @include centerDiv(column);
            h3{
                font-size: 5vh;
                font-weight: bold;
                font-style: italic;
                margin: 1vmin 0;
            }
        }
        p{
            text-align: center;
            font-size: 2.5vh;
            font-style: italic;
            margin-top: 5vmin;
        }
    }
}
.sixthElementContainer{
    @include centerDiv(column);
    width: 100%;
    margin-top: 20vmin;
    .joinOptions{
        @include centerDiv(row);
        flex-wrap: wrap;
        width: 100%;
        .joinOption{
            @include centerDiv(column);
            width: 50vmin;
            height: 50vmin;
            border-radius: 10px;
            padding: 4vmin 3vmin;
            margin: 5vmin 10vmin;
            background-color: #4ca162;
            color: white;
            .jointTitle{
                @include centerDiv(row);
                p{
                    font-size: 5vh;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .joinType{
                @include centerDiv(row);
                p{
                    font-size: 3vh;
                    font-weight: 600;
                    text-align: center;
                    margin: 3vmin 0 15vmin 0;
                }
            }
            .choice{
                @include centerDiv(row);
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 3.5vh;
                    color: white;
                    border-radius: 5px;
                    text-decoration: underline;
                }
            }
        }
    }
    .join{
        @include centerDiv(row);
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 10vmin 5vmin;
        background-color: #ebebeb;
        width: 90%;
        border-radius: 0 0 10px 10px;
        iframe{
            width: 100vmin;
            height: 200vmin;
            padding: 5vmin;
            border: 1px solid #ebebeb;
            margin-top: 30vmin;
        }
        .description{
            @include centerDiv(column);
            width: 120vmin;
            margin-top: 20vmin;
            background-color: #ebebeb;
            p[bold]{
                font-weight: bold;
                margin: 10vmin 0;
            }
            p{
                font-size: 3vh;
            }
        }
    }
    .joinIntro{
        @include centerDiv(row);
        width: 90%;
        margin-top: 20vmin;
        background-color: #9b6ade;
        padding: 10vmin 0;
        border-radius: 10px 10px 0 0;
        h1{
            font-size: 6vh;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            color: white;
        }
    }
}

footer{
    margin-top: 20vmin;
}
@media screen and (max-width: 1120px){
    #transparentTopnav, .topnav {
        flex-direction: column;
        height: 120vmin;
        background-color: black;
    }
    .firstElementContainer{
        margin-top: 120vmin;
        .firstText{
            width: 100%;
            .title{
                h1{
                    font-size: 3vh;
                    padding: 3vmin;
                    text-align: center;
                }
            }
            .desc{
                img{
                    width: 50vmin;
                    margin-left: 15vmin;
                }
            }
        }
    }
    .secondElementContainer{
        .listOfAdvs{
            margin-top: 15vmin;
            .adv{
                width: 65vmin;
                height: 65vmin;
                p{
                    font-size: 2.5vh;
                }
            }
            .adv[title]{
                padding: 0;
                p{
                    font-size: 4vh;
                }
            }
        }
        .listOfDis{
            margin-top: 10vmin;
            .dis{
                width: 65vmin;
                height: 65vmin;
                p{
                    font-size: 2.5vh;
                }
            }
            .dis[title]{
                padding: 0;
                p{
                    font-size: 4vh;
                }
            }
        }
    }
    .thirdElementContainer{
        .title{
            h1{
                font-size: 3vh;
            }
        }
    }
    .thirdElementTitle{
        h1{
            font-size: 3vh;
            text-align: center;
        }
        h3{
            font-size: 1.8vh;
            padding: 7vmin 4vmin;
            text-align: center;
        }
    }
    .fourthElementContainer{
        width: 100%;
        .fourthElement{
            margin: 0 0 0 -1605vmin;
            width: 1700vmin;
            .review{
                width: 90vmin;
                height: 90vmin;
                .dataContainer{
                    padding: 3vmin;
                    .name{
                        margin-bottom: 3vmin;
                        font-size: 2.5vh;
                    }
                    .description{
                        font-size: 1.7vh;
                    }
                }
            }
        }
        @keyframes slideAnimation {
            0%{left: 0vmin;}
            3%{left: 100vmin;}
            6%{left: 100vmin;}
            9%{left: 200vmin;}
            12%{left: 200vmin;}
            15%{left: 300vmin;}
            18%{left: 300vmin;}
            21%{left: 400vmin;}
            24%{left: 400vmin;}
            27%{left: 500vmin;}
            30%{left: 500vmin;}
            33%{left: 600vmin;}
            36%{left: 600vmin;}
            39%{left: 700vmin;}
            42%{left: 700vmin;}
            45%{left: 800vmin;}
            48%{left: 800vmin;}
            51%{left: 900vmin;}
            54%{left: 900vmin;}
            57%{left: 1000vmin;}
            60%{left: 1000vmin;}
            63%{left: 1100vmin;}
            66%{left: 1100vmin;}
            69%{left: 1200vmin;}
            72%{left: 1200vmin;}
            75%{left: 1300vmin;}
            78%{left: 1300vmin;}
            81%{left: 1400vmin;}
            84%{left: 1400vmin;}
            87%{left: 1500vmin;}
            90%{left: 1500vmin;}
            100%{left: 0vmin;}
        }
    }
    .fifthElementContainer{
        flex-direction: column;
        .imgContainer{
            img{
                width: 100vmin;
            }
        }
        .quoteContainer{
            .quote{
                margin-bottom: 10vmin;
                h3{
                    font-size: 3.5vh;
                    text-align: center;
                    padding: 0 3vmin;
                }
            }
            p{
                font-size: 2vh;
            }
        }
    }
    .sixthElementContainer{
        .joinOptions{
            .joinOption{
                width: 80vmin;
                height: 80vmin;
            }
        }
    }
    footer{
        flex-direction: column;
        padding: 15vmin 5vmin;
        align-items: center;
        .contacts{
            margin-top: 10vmin;
            .contact{
                p{
                    flex-direction: column;
                    img{
                        width: 50vmin;
                    }
                }
            }
        }
    }
}