* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.topnavImg {
  height: 15vmin;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: black;
  width: 100%;
  color: white;
  text-transform: uppercase;
  padding: 10vmin 0 10vmin 10vmin;
}

.infoTitle, .contactTitle {
  margin-bottom: 4vmin;
}

.information {
  margin-bottom: 1vmin;
}

.myLogo {
  width: 30vmin;
}

#myContact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myContact p img {
  margin-left: 5vmin;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 2vmin;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b3b1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .informations .information a {
  text-decoration: none;
  color: white;
}

.topnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.2px solid gray;
  background-color: white;
  height: 15vmin;
  position: fixed;
  z-index: 10;
  color: black;
  background-color: transparent;
  color: white;
  border: none;
  position: absolute;
}

.topnav a {
  width: 100%;
  height: 15vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  -webkit-transition: all ease-in 0.7s;
  transition: all ease-in 0.7s;
  padding: 3vmin;
  font-weight: bold;
}

.topnav a p {
  text-align: center;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a {
  color: white;
}

.topnav a:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.firstElementContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 15vmin 0;
  width: 100%;
  background: url("../../public/elsocoachingelem.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstElementContainer .firstText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70vmin;
  color: white;
}

.firstElementContainer .firstText .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 4vmin;
}

.firstElementContainer .firstText .title h1 {
  font-weight: bold;
  font-size: 8vh;
  text-transform: uppercase;
}

.firstElementContainer .firstText .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstElementContainer .firstText .description h3 {
  font-size: 3vh;
  margin-bottom: 3vmin;
}

.firstElementContainer .firstText .description p {
  font-size: 2vh;
}

.firstElementContainer .firstText .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8vmin;
}

.firstElementContainer .firstText .button button {
  padding: 3vmin 5vmin;
  background-color: green;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 3vh;
}

.secondElementContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vmin 0;
  margin: 15vmin 0;
}

.secondElementContainer .coachingTips {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondElementContainer .coachingTips .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3vmin 0 3vmin 5vmin;
  margin-bottom: 10vmin;
}

.secondElementContainer .coachingTips .title h1 {
  font-size: 5vh;
}

.secondElementContainer .coachingTips .tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15vmin;
}

.secondElementContainer .coachingTips .tips .eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondElementContainer .coachingTips .tips .eyes .tip {
  background-color: #4ca162;
  margin: 3vmin 10vmin;
  width: 25vmin;
  height: 25vmin;
  border-radius: 100%;
  padding: 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.secondElementContainer .coachingTips .tips .eyes .tip p {
  text-align: center;
  color: white;
  font-size: 1.5vh;
}

.secondElementContainer .coachingTips .tips .mouth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
}

.secondElementContainer .coachingTips .tips .mouth .tip {
  background-color: #4ca162;
  margin: 3vmin 0;
  width: 25vmin;
  height: 25vmin;
  border-radius: 100%;
  padding: 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.secondElementContainer .coachingTips .tips .mouth .tip p {
  text-align: center;
  color: white;
  font-size: 1.5vh;
}

.secondElementContainer .coachingTips .tips .mouth .tip[second] {
  margin-top: 18vmin;
}

.secondElementContainer .coachingTips .tips .mouth .tip[third] {
  margin-top: 35vmin;
}

.secondElementContainer .coachingTips .tips .mouth .tip[middle] {
  margin: 42vmin 5vmin 0 5vmin;
}

.thirdElementContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15vmin 0;
  margin: 15vmin 0;
  background-color: #ebebeb;
}

.thirdElementContainer .firstLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.thirdElementContainer .firstLine img {
  width: 60vmin;
}

.thirdElementContainer .firstLine img:hover {
  cursor: pointer;
}

.thirdElementContainer .firstLine * {
  margin: 2vmin 10vmin;
}

.thirdElementContainer .firstLine .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2vmin;
  width: 80vmin;
}

.thirdElementContainer .firstLine .text p {
  font-size: 3vh;
  text-align: center;
  font-weight: 600;
}

.thirdElementContainer .secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.thirdElementContainer .secondLine img {
  width: 60vmin;
}

.thirdElementContainer .secondLine img:hover {
  cursor: pointer;
}

.thirdElementContainer .secondLine * {
  margin: 2vmin 10vmin;
}

.thirdElementContainer .secondLine .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2vmin;
  width: 80vmin;
}

.thirdElementContainer .secondLine .text p {
  font-size: 3vh;
  text-align: center;
  font-weight: 600;
}

.fourthElementContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vmin 0;
  margin: 15vmin 0;
}

.fourthElementContainer .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourthElementContainer .title h1 {
  font-size: 7vh;
  text-transform: uppercase;
}

.fourthElementContainer .video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15vmin 0 10vmin 0;
}

.fourthElementContainer .video p {
  width: 90%;
  padding: 40vmin 0;
  border: 1px solid black;
  text-align: center;
}

.fourthElementContainer .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourthElementContainer .button a {
  padding: 3vmin 5vmin;
  background-color: green;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 3vh;
}

@media screen and (max-width: 1120px) {
  .topnav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    color: white;
    height: 120vmin;
  }
  .firstElementContainer {
    margin-top: 120vmin;
  }
  .firstElementContainer .firstText .title h1 {
    text-align: center;
  }
  .secondElementContainer .coachingTips .tips .eyes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondElementContainer .coachingTips .tips .eyes .tip {
    margin: 5vmin;
    height: 70vmin;
    width: 70vmin;
  }
  .secondElementContainer .coachingTips .tips .eyes .tip .tipText {
    padding: 5vmin;
  }
  .secondElementContainer .coachingTips .tips .eyes .tip .tipText p {
    font-size: 4vh;
  }
  .secondElementContainer .coachingTips .tips .mouth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondElementContainer .coachingTips .tips .mouth .tip {
    margin: 0;
    margin: 5vmin;
  }
  .secondElementContainer .coachingTips .tips .mouth .tip[second], .secondElementContainer .coachingTips .tips .mouth .tip[third], .secondElementContainer .coachingTips .tips .mouth .tip[middle] {
    margin: 5vmin;
  }
  .secondElementContainer .coachingTips .tips .mouth .tip {
    margin: 5vmin;
    height: 70vmin;
    width: 70vmin;
  }
  .secondElementContainer .coachingTips .tips .mouth .tip .tipText {
    padding: 5vmin;
  }
  .secondElementContainer .coachingTips .tips .mouth .tip .tipText p {
    font-size: 4vh;
  }
  .thirdElementContainer .firstLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thirdElementContainer .firstLine img {
    margin: 0 0 0 8vmin;
  }
  .thirdElementContainer .secondLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fourthElementContainer .title h1 {
    font-size: 5vh;
    padding: 0 5vmin;
    text-align: center;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topnavBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 10vmin;
  padding-left: 10vmin;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
  background-color: black;
  color: white;
  font-size: 3.5vh;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.topnavBarContainer div:hover {
  opacity: .7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 950px) {
  #topnavBarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topnav {
    display: none;
    top: 10vmin;
  }
  .firstElementContainer {
    margin-top: 0;
  }
}
/*# sourceMappingURL=coaching.css.map */