@import "../uniformStyles/uniform";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 2vmin;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: white;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b1b3b1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topnav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.2px solid gray;
    background-color: white;
    height: 15vmin;
    position: fixed;
    z-index: 10;
    top: 0;
}
.topnav a{
    width: 100%;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all ease-in 0.7s;
    padding: 3vmin;
    font-weight: bold;
}
.topnav a p{
    text-align: center;
}
.topnavImg{
    height: 15vmin;
}
.topnav:first-child:hover{
    cursor: pointer;
}
.topnav a:hover{
    background-color: black;
    color: white;
}
.firstElementContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vmin 15vmin;
    margin-top: 15vmin;
}
.firstElementContainer img{
    width: 100vmin;
}
.whoAmIDesc{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.whoAmIDesc h1{
    font-size: 10vh;
    font-weight: bold;
    margin-bottom: 8vmin;
}
.whoAmIDesc ul{
    margin-left: 5vmin;
    width: 80vmin;
}
.whoAmIDesc ul li{
    font-size: 3vh;
}
.secondElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vmin;
    background-color: #ebebeb;
    padding: 15vmin 0;
}
.videoTitle{
    width: 100%;
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15vmin;
}
.video{
    width: 90%;
    padding: 40vmin 0;
    text-align: center;
    border: 2px solid black;
}
.thirdElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15vmin 0;
}
.thirdElementTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vmin 0 30vmin 0;
    color: black;
    font-weight: bold;
}
.myStoryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
#myStory{
    margin: 0;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vmin;
    margin-top: 100vmin;
}
.controls .prev, .controls .next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ebebeb;
    margin: 0 5vmin;
    border-radius: 10px;
    transition: all 0.7s;
}
.controls .prev:hover, .controls .next:hover{
    cursor: pointer;
    background-color: #c7c5c5;
}
.controls .prev p, .controls .next p{
    font-size: 7vh;
    font-weight: 500;
}
.aboutPic{
    width: 80vmin;
    border-radius: 10px;
    margin-top: 15vmin;
}
.myStory{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgba(171, 171, 171, .4);
    border-radius: 10px;
    width: 80vmin;
    height: 80vmin;
    padding: 5vmin;
    backdrop-filter: 5px;
    transition: all .6s;
    position: absolute;
    z-index: 10;
    top: 0;
}
#storyReplacable{
    transition: all .7s;
}
.myStory:hover{
    background-color: rgba(171, 171, 171, .7);
    cursor: default;
}
.myStory p{
    text-align: center;
    margin: 12vmin 0;
}

.thirdElementContainer .buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vmin 0 10vmin 0;
}
.thirdElementContainer .buttonContainer a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: green;
    color: white;
    padding: 3vmin 5vmin;
    border-radius: 10px;
    transition: all 0.6s;
}
.thirdElementContainer .buttonContainer a:hover{
    background-color: darkgreen;
    transform: scale(1.1);
}



footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: black;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 10vmin 0 10vmin 10vmin;
}
.contacts{
}
.infoTitle, .contactTitle{
    margin-bottom: 4vmin;
}
.information{
    margin-bottom: 1vmin;
}
.myLogo{
    width: 30vmin;
}
#myContact p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#myContact p img{
    margin-left: 5vmin;
}
@media screen and (max-width: 920px) {
    .topnav{
        flex-direction: column;
        height: 120vmin;
        position: absolute;
    }   
    .firstElementContainer{
        margin-top: 130vmin;
        flex-direction: column;
        img{
            margin-bottom: 12vmin;
        }
    }
    footer{
        flex-wrap: wrap;
        .contacts{
            margin-top: 5vmin;
            .contact{
                p{
                    flex-direction: column;
                    img{
                        margin-top: 4vmin;
                    }
                }
            }
        }
    }
    .myStory{
        p{
            font-size: 2.5vh;
        }
    }
}
.topnavBarContainer{
    @include topnavBar;
    background-color: black;
    color: white;
    font-size: 3.5vh;
    transition: all .5s;
    div{
        &:hover{
            opacity: .7;
            transform: scale(1.05);
        }
    }
}
@media screen and (max-width: 950px) {
    #topnavBarContainer{
        display: flex;
    }
    .topnav{
        display: none;
        top: 10vmin;
    }
    .firstElementContainer{
        margin-top: 0;
    }
}