*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 2vmin;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: white;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b1b3b1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topnav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.2px solid gray;
    box-shadow: 5px 3px 5px lightgray;
    background-color: white;
    height: 15vmin;
}
.topnav a{
    width: 100%;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all ease-in 0.7s;
    padding: 3vmin;
    font-weight: bold;
}
.topnav a p{
    text-align: center;
}
.topnavImg{
    height: 15vmin;
}
.topnav a:hover{
    background-color: black;
    color: white;
}
.firstElementContainer{
    background: url(../public/wetransfer_weboldalon-levo-kep-jpg_2021-12-21_1251/weboldalon\ lévő\ kép.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 15vmin 5vmin;
}
.firstElementContainer h1{
    color: white;
    text-align: center;
    font-weight: bold;
    width: 70vmin;
    margin-left: 30vmin;
    font-size: 8vh;
}
.firstElementButtonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vmin;
}
.firstElementButtonContainer button{
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 3vmin 5vmin;
    text-transform: uppercase;
    font-size: 3.5vh;
    transition: all ease-in .4s;
    color: green;
    border: 1.3px solid green;
    background-color: transparent;
}
.firstElementButtonContainer button:hover{
    cursor: pointer;
    color: white;
    background-color: green;
}
.secondElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12vmin 4vmin;
}
.secondElementContainer img{
    width: 80vmin;
    border-radius: 10px;
}
.secondElementContainer h1{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 5vh;
    margin-bottom: 8vmin;
}
.secondElementContainer p{
    width: 70vmin;
    text-align: left;
    font-weight: 600;
}
.thirdElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ebebeb;
    padding: 15vmin 0;
}
.thirdElement{
    display: flex;
    justify-content: space-evenly;
    align-items:  flex-start;
    width: 100%;
}
.review{
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 40vmin;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: all 0.7s;
    padding-top: 30vmin;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 3vmin;
    height: 15vmin;
    text-align: left;
}
.dataContainer{
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.review:hover{
    transform: scale(1.2);
}
.imageOf{
    width: 40vmin;
    height: 40vmin;
    
    border-radius: 10px 10px 0 0
}
.description *{
    margin: 3vmin 0;
}
.name{
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    background-color: white;
    width: 100%;
    padding: 3vmin 3vmin 0 3vmin;
}
.opinion{
    width: 20vmin;
    opacity: 0.7;
    text-align: left;
}
.displayedOpinion{
    display: flex;
}
.thirdElementTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebebeb;
    width: 100%;
    padding-top: 7vmin;
}
.thirdElementTitle h1{
    font-size: 5vh;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}
.thirdElementTitle h3{
    opacity: .4;
}
.fourthElementContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../public/5.\ elem\ háttérképe.jpg");
    width: 100%;
    padding: 20vmin 0vmin 10vmin  0vmin;
}
.fourthElementTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
}
.fourthElementTitle h1{
    font-size: 6vh;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}
.purchaseOptions{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 20vmin;
}
.purchaseOption{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40vmin;
    height: 60vmin;
    padding: 5vmin 3vmin;
    border: 1.5px solid white;
    border-radius: 10px;
}
.purchaseTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.5vh;
    width: 100%;
    height: 10vmin;
    margin-bottom: 6vmin;
}
.purchaseTitle p{
    text-align: center;
}
.purchaseDesc{
    color: white;
    padding: 4vmin 0;
    text-align: center;
}
.morePurchase{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vmin 2.5vmin;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5vmin;
    transition: all ease-in-out .6s
}
.morePurchase:hover{
    background-color: white;
    color: black;
}